
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* background-color: #3f8686; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    


}

.profile-card {
    background-color: #080707;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}


.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #181818;
}

p {
    margin: 5px 0;
    color: #ffffff;
}

.buttons {
    margin: 20px 0;
}

.call-btn,
.message-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.call-btn:hover,
.message-btn:hover {
    background-color: #555;
}

.contact-info {
    margin-top: 20px;
}

.contact-info .item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-info .item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-info span {
    color: #333;
}
